* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
    display: flex;
    align-items: center;
    background-color: lightblue;
    height: 100px;
    width: 100%;
}

#header h1 {
    width: 90%;
    margin: 0 auto 0 auto;
}

#grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(204, 227, 235);
}

#grid-element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 500px;
}

.grid-element {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.clicked-grid-element {
    background-color: black;
}
   

#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: lightseagreen;
}

.btn {
    height: 100px;
    width: 200px;
    font-size: 24px;
    background-color: lightblue;
    border: 5px solid whitesmoke;
    border-radius: 10px;
}

.selected-button {
    height: 100px;
    width: 200px;
    font-size: 24px;
    background-color: rgb(105, 157, 189);
    border: 5px solid whitesmoke;
    border-radius: 10px;
}